@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500&family=Shippori+Mincho&display=swap');

* {
  box-sizing: border-box;
}

body {
  color: #fff;
  font-family: 'Shippori Mincho', ;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  text-align: center;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #3d3d3f;
  font-weight: bolder;
}

.start {
  font-size: 1.5rem;
}

h1 {
  line-height: 1.4;
  font-size: 4rem;
}

.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  transition: margin 0.5s ease-out;
  background: linear-gradient(90deg, #7dce94 0%, #3d3d3f 100%);
}

.screen.up {
  margin-top: -100vh;
}

.time-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.time-list li {
  margin: 10px;
}

.time-btn {
  background-color: transparent;
  border: 2px solid #C0C0C0;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  padding: .5rem 1rem;
  font-size: 1.5rem;
}

.time-btn:hover {
  border: 2px solid #a79344;
  color: #a79344;
}

.hide {
  opacity: 0;
}

.primary {
  color: #a79344;
}

.board {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 500px;
  height: 500px;
  background: linear-gradient(118.38deg, #8e8e90 -4.6%, #49494b 200.44%);
  box-shadow: -8px -8px 20px #3d3d3f, 10px 7px 20px rgb(44, 50, 56);
  border-radius: 30px;
  overflow: hidden;
}

.circle {
  /* If we want only one color without activating random colors via JS, we can set it here like: 
  background: linear-gradient(90deg, #dfb866 20%, #dbb96e 40%, #a79344 100%); */
  position: absolute;
  border-radius: 50%;
  cursor: pointer;
}

.reset {
  position: fixed;
  margin-top: 140px;
  background-color: #6b6b6e;
  border: 1px solid #a79344;
  border-radius: 5%;
  padding: 0.5rem 1rem;
  color: inherit;
  font-family: inherit;
  cursor: pointer;
}

.reset:hover {
  background: linear-gradient(90deg, #a79344 0%, #3d3d3f 100%);
  box-shadow: -2px -2px 5px #3d3d3f, 10px 7px 20px rgb(44, 50, 56);
}